@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-dark: #1f3045;
  --blue-light: #c4e6f8;
  --blue-subtle-00: #e0edf5;
  --blue-subtle-10: #ecf5fa;

  --red: #ff2741;
  --red-30: #ff7f8f;
  --red-20: #ffadb7;
  --red-10: #ffdadf;
  --red-subtle: #fff1f3;

  --black: #14191f;
  --white: #fff;

  --gray-30: #4c596a;
  --gray-20: #868f9b;
  --gray-10: #bcc1c7;

  --gray-line: #e0e2e5;
  --gray-bg: #f5f5f5;
  --gray-bg-subtle: #f6f9fb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

strong {
  font-weight: 600;
}

body {
  min-height: 100vh;
  color: var(--blue-dark);
  background: var(--gray-bg);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Poppins',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid {
  margin: 0;
}
