@import './reset.css';
@import './base.css';

:root {
  --sidebar-width: 214px;
  --sidebar-closed-width: 72px;
}

.app-layout {
  display: flex;
}

.module {
  background: #fff;
  border-radius: 8px;
}

.main-content {
  flex: 1 1 calc(100% - var(--sidebar-width));
  padding: 24px 20px;
  margin-left: var(--sidebar-width);
  transition: all .2s
}

@media (max-width:991px){
  .sidebar,
  .main-content {
    --sidebar-width: var(--sidebar-closed-width);
  }
}

.p-select-option-label {
  font-size: 13px;
}

.p-menu-submenu-label:empty {
  padding: 0;
}

/* badge */
.p-badge {
  --p-badge-font-weight: 400;
  --p-badge-border-radius: 4px;
  --p-badge-font-size: 11px;
}
/* /badge*/
