@import './reset.css';
@import './base.css';

#app {
  display: flex;
}

.sidebar {
  flex: 0 0 214px;
  min-height: 100vh;
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  align-self: stretch;
  background: var(--white);
}

.main-content {
  flex: 1 1 calc(100% - 214px);
  padding: 24px 20px;
}

/* badge */
.p-badge {
  --p-badge-font-weight: 400;
  --p-badge-border-radius: 4px;
  --p-badge-font-size: 11px;
}
/* /badge*/
